.main {
	display: grid;
	justify-content: center;
}

.wrapper_tags {
	padding: 20px;
	width: 100%;
	background: #222222;
}

div.tag {
	display: inline-block;
	margin: 5px;
	padding: 5px 20px;
	width: max-content;
	background: #222233;
	border: 2px solid #eeeeee;
	border-radius: 7px;
}
